<nav class="navbar navbar-expand-md navbar-dark ml-1 mr-1 ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-dark row m-0 p-0 d-flex justify-content-center">
            <li class="nav-item col-lg-2 col-md-2 col-sm-4">
                <a class="nav-link active " href="index.html"><u>Home</u></a>
            </li>
            <li class="nav-item col-lg-2 col-md-2 col-sm-4">
                <a class="nav-link " href="about.html"><u>About</u></a>
            </li>
            <li class="nav-item col-lg-2 col-md-2 col-sm-4">
                <a class="nav-link " href="practices.html"><u>Practices</u></a>
            </li>
            <li class="nav-item col-lg-2 col-md-2 col-sm-4">
                <a class="nav-link " href="our_Lawyers.html"><u>Our Lawyers</u></a>
            </li>
            <li class="nav-item col-lg-2 col-md-2 col-sm-4">
                <a class="nav-link " href="#"><u>News</u></a>
            </li>
            <li class="nav-item col-lg-2 col-md-2 col-sm-4">
                <a class="nav-link " href="contact.html"><u>Contact</u></a>
            </li>
        </ul>
    </div>
</nav>
