
<div class="mr-1 ml-1 ">
        <ul class="navbar-dark row m-0 p-0 d-flex justify-content-center">
            <li class="nav-item col-lg-2 col-md-2 col-sm-4">
                <a class="nav-link active " href="Index.html"><u>Home</u></a>
            </li>
            <li class="nav-item col-lg-2 col-md-2 col-sm-4">
                <a class="nav-link " href="About.html"><u>About</u></a>
            </li>
            <li class="nav-item col-lg-2 col-md-2 col-sm-4">
                <a class="nav-link " href="Practices.html"><u>Practices</u></a>
            </li>
            <li class="nav-item col-lg-2 col-md-2 col-sm-4">
                <a class="nav-link " href="Our_Lawyers.html"><u>Our Lawyers</u></a>
            </li>
            <li class="nav-item col-lg-2 col-md-2 col-sm-4">
                <a class="nav-link " href="News.html"><u>News</u></a>
            </li>
            <li class="nav-item col-lg-2 col-md-2 col-sm-4">
                <a class="nav-link " href="Contact.html"><u>Contact</u></a>
            </li>
        </ul>

</div>